---
title: Certificari
slug: certificari
id: certificari
lang: ro
---

<!-- Start Content Section -->
<section id="content" class="pattern-1">
  <div class="container blog-post">
    <div class="row generic-white-container">
      <div class="col-md-12">
        <!-- Heading Start -->
        <div class="heading">
          <h2 class="big-title">Certificari</h2>
          <p>Certificarile de care dispunem asigura calitatea produselor noastre!</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="post-thumb certificates-thumb">
          <a class="lightbox" href="assets/img/certificates/Quality_Policy_Statement.jpg"><img src="assets/img/certificates/Quality_Policy_Statement.jpg" alt=""></a>
          <div class="hover-wrap">
            <div class="link">
              <a href="assets/img/certificates/Quality_Policy_Statement.jpg" class="lightbox"><i class="icon-size-fullscreen"></i></a>
            </div>
          </div>
        </div>
        <h4>Quality Policy Statement</h4>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="post-thumb certificates-thumb">
          <a class="lightbox" href="assets/img/certificates/ISO_9001.jpg"><img src="assets/img/certificates/ISO_9001.jpg" alt=""></a>
          <div class="hover-wrap">
            <div class="link">
              <a href="assets/img/certificates/ISO_9001.jpg" class="lightbox"><i class="icon-size-fullscreen"></i></a>
            </div>
          </div>
        </div>
        <h4>ISO 9001</h4>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="post-thumb certificates-thumb">
          <a class="lightbox" href="assets/img/certificates/ISO_14001.jpg"><img src="assets/img/certificates/ISO_14001.jpg" alt=""></a>
          <div class="hover-wrap">
            <div class="link">
              <a href="assets/img/certificates/ISO_14001.jpg" class="lightbox"><i class="icon-size-fullscreen"></i></a>
            </div>
          </div>
        </div>
        <h4>ISO 14001</h4>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="post-thumb certificates-thumb">
          <a class="lightbox" href="assets/img/certificates/ISO_18001.jpg"><img src="assets/img/certificates/ISO_18001.jpg" alt=""></a>
          <div class="hover-wrap">
            <div class="link">
              <a href="assets/img/certificates/ISO_18001.jpg" class="lightbox"><i class="icon-size-fullscreen"></i></a>
            </div>
          </div>
        </div>
        <h4>ISO 18001</h4>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="post-thumb certificates-thumb">
          <a class="lightbox" href="assets/img/certificates/PED.jpg"><img src="assets/img/certificates/PED.jpg" alt=""></a>
          <div class="hover-wrap">
            <div class="link">
              <a href="assets/img/certificates/PED.jpg" class="lightbox"><i class="icon-size-fullscreen"></i></a>
            </div>
          </div>
        </div>
        <h4>PED</h4>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="post-thumb certificates-thumb">
          <a class="lightbox" href="assets/img/certificates/3834.jpg"><img src="assets/img/certificates/3834.jpg" alt=""></a>
          <div class="hover-wrap">
            <div class="link">
              <a href="assets/img/certificates/3834.jpg" class="lightbox"><i class="icon-size-fullscreen"></i></a>
            </div>
          </div>
        </div>
        <h4>3834</h4>
      </div>

    </div>
  </div>
</section>
<!-- End Content Section  -->
