---
title: Contact
slug: contact
id: contact
lang: ro
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="big-title">Formular de contact</h2>
        <!-- Form -->
        <form id="contact-form" class="contact-form" role="form" method="post">
          <div class="row">
            <div class="col-md-4">
              <input type="text" id="contact_name" class="form-control" name="contact_name" placeholder="Numele dumneavoastra">
              <div id="contact_name_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-4">
              <input type="email" id="contact_email" class="form-control" name="contact_email" placeholder="Email">
              <div id="contact_email_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-4">
              <input type="text" id="contact_phone" class="form-control" name="contact_phone" placeholder="Telefon">
            </div>
            <div class="col-md-12">
              <input type="text" id="contact_subject" class="form-control" name="contact_subject" placeholder="Subiect">
              <div id="contact_subject_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <textarea class="form-control" id="contact_message" name="contact_message" placeholder="Mesajul dumneavoastra" rows="9"></textarea>
              <div id="contact_message_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-6">
              <button type="submit" id="contact_submit" class="btn btn-effect"><i class="fa fa-check"></i> Trimite</button>
            </div>
          </div>
        </form>
        <div id="contact_form_message" class="p-t-10"></div>
        <div id="contact_form_error" class="p-t-10 text-danger"></div>
      </div>
      <div class="col-md-4">
        <h2 class="big-title">Date de contact</h2>
        <div class="information">
          <div class="contact-datails">
            <p><i class="icon-location-pin"></i> str. Fabricii de Chibrituri, nr. 13-21, Cluj-Napoca, 400254 - Romania</p>
            <p><i class="icon-call-out"></i> TEL:+040 264 435 232 / FAX:+040 264 435 245</p>
            <p><i class="icon-envelope"></i> office@icpiaf.ro - corespondenta generala</p>
            <p><i class="icon-envelope"></i> termo@icpiaf.ro - Departament Termoficare si Automatizari</p>
            <p><i class="icon-envelope"></i> alim@icpiaf.ro - Departament Utilaj Industria Alimentara</p>
            <p><i class="icon-envelope"></i> market@icpiaf.ro - Departament Marketing</p>
          </div>
        </div>
        <h2 class="big-title">Date juridice</h2>
        <div class="information">
          <div class="contact-datails">
            <p><i class="icon-info"></i> Cod Fiscal : R 201691</p>
            <p><i class="icon-info"></i> Cod RECOM: J12/33/1991</p>
            <p><i class="icon-credit-card"></i> Cod IBAN : RO84BRDE130SV08015371300 - BRD Cluj</p>
            <p><i class="icon-credit-card"></i> Cod IBAN : RO75TREZ2165069XXX008647 - Trezoreria Cluj</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Content Section  -->
