---
title: Authorised dealer
slug: dealer
id: dealer
lang: en
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- partners single images -->
        <div class="single-img">
          <img src="assets/img/bg/banner.jpg" alt="">
        </div>
        <!-- End partners single images -->
        <div class="heading">
          <h2>Dealer autorizat</h2>
          <p>S.C. ICPIAF S.A. Cluj-Napoca este distribuitor autorizat al urmatoarelor firme:</p>
        </div>
      </div>
    </div>

    <!-- Start partners   -->
    <div class="partners">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <img src="assets/img/clients/logo-01.png" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="partners-text">
            <h3><a href="grundfos.html">Pompe si echipamente de pompare GRUNDFOS</a></h3>
            <p>S.C. ICPIAF S.A. Cluj-Napoca este distribuitor autorizat al firmei GRUNDFOS, unul dintre cei mai importanti fabricanti de pompe din lume, avand un numar de peste 10.000 de angajati si o productie anuala de peste 10 milioane de unitati de pompe.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End partners  -->

    <!-- Start partners   -->
    <div class="partners">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <img src="assets/img/clients/logo-02.png" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="partners-text">
            <h3><a href="sauter.html">Echipamente de automatizare SAUTER</a></h3>
            <p>ICPIAF in calitate de distribuitor autorizat al firmei SAUTER - Elvetia, unul din liderii europeni in materie de aparatura de automatizare in domeniul sistemelor de incalzire, umidificare, ventilare si conditionare de aer, va ofera serviciile sale pentru automatizarea proceselor din domeniul dumneavoastra.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End partners  -->

    <!-- Start partners   -->
    <div class="partners">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <img src="assets/img/clients/logo-03.png" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="partners-text">
            <h3><a href="lenze.html">Reductoare si echipamente de actionare LENZE</a></h3>
            <p>ICPIAF este distribuitor pentru Romania al prestigioasei firmei LENZE - Germania. Produsele firmei LENZE sunt folosite cu succes de multi ani in aplicatii industriale, calitatea produselor, distributia si service-ul acestora fiind certificate de DIN ISO 9001 : 2000 si DIN ISO 14001.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End partners  -->

    <!-- Start partners   -->
    <div class="partners">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <img src="assets/img/clients/logo-04.png" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="partners-text">
            <h3><a href="swep.html">Schimbatoare de caldura cu placi brazate SWEP</a></h3>
            <p>Schimbatoarele de caldura brazate sunt aparate ce realizeaza transferul termic intre doi agenti de lucru (lichide sau gaze), cu ajutorul unui numar de placi din inox profilate obtinute prin ambutisare si sudate intre ele printr-un procedeu special de brazare cu nichel sau cupru.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End partners  -->

  </div>
</section>
<!-- End Content Section  -->
