---
title: Milk processing plants
slug: products
id: prod1
lang: en
---

<!-- Start Content Section -->
<section id="content" class="pattern-1">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8 generic-white-container">
        <h2 class="big-title">Fabrici procesare lapte "la cheie": de la conceptie – la livrare produs finit</h2>
        <p class="text-center">
          <img src="assets/img/products/fabrici_procesare_lapte1.jpg" alt="">
        </p>
        <p>&nbsp;</p>
        <p><strong>Capacitati:</strong> de la 1000 la 30000 l/zi</p>
        <p><strong>Materie prima procesata:</strong> lapte de vaca, lapte de capra, lapte de oaie</p>
        <h4>Produse finite obtinute:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> lapte de consum</li>
            <li><span>2</span> branzeturi: in saramura, cu pasta oparita, fermentate, framantate, topite</li>
            <li><span>3</span> produse lactate acide: iaurt, sana, chefir</li>
            <li><span>4</span> smantana de consum</li>
            <li><span>5</span> unt</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/fabrici_procesare_lapte2.jpg" alt="" class="display-inline m-x-10">
          <img src="assets/img/products/fabrici_procesare_lapte3.jpg" alt="" class="display-inline m-x-10">
        </p>
        <p>&nbsp;</p>
        <h4>Module oferite:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> <strong>receptie, racire si stocare lapte</strong>: instalatie de masurare volumetrica, racitor cu placi, tanc izoterm</li>
            <li><span>2</span> <strong>normalizare, omogenizare si pasteurizare lapte</strong>: separator centrifugal, omogenizator, instalatie de pasteurizare</li>
            <li><span>3</span> <strong>preparare si ambalare lapte de consum</strong>: tanc izoterm, masina semiautomata de ambalare la punga si la butelii tip PET, masina automata de ambalare la punga</li>
            <li><span>4</span> <strong>produse lactate acide si smantana</strong>: instalatie preparare produse lactate acide si smantana, masina semiautomata de ambalare la pahar, masina automata de ambalare la pahar</li>
            <li><span>5</span> <strong>fabricare branzeturi</strong>: vane mecanizate, crinte, separator de coagul, instalatie continua de oparire cascaval, vas preparare branza topita</li>
            <li><span>6</span> <strong>fabricare unt</strong>: putinei, tava carucior, vana maturare smantana</li>
            <li><span>7</span> <strong>igienizare utilaje si spatii</strong>: instalatie CIP, pompa mobile de spalare sub presiune</li>
            <li><span>8</span> <strong>conducte si armaturi de inox</strong>: pentru circuite de lapte si igienizare</li>
            <li><span>9</span> <strong>echipamente utilitati</strong>: centrala termica, instalatie de apa gheata, instalatii frigorifice, compresor de aer</li>
            <li><span>10</span> <strong>statii de tratare ape uzate</strong></li>
            <li><span>11</span> <strong>monitorizare temperaturi</strong>: sistem de achizitie date</li>
            <li><span>12</span> <strong>montaj si punere in functiune</strong></li>
            <li><span>13</span> <strong>dotari de laborator</strong>: pentru analize fizico-chimice si microbiologice</li>
            <li><span>14</span> <strong>mijloace de transport</strong>: autocisterne si autofrigorifice</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de contact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
