---
title: Filtre autocuratitoare
slug: produse
id: prod11
lang: ro
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8">
        <h2 class="big-title">Filtre autocuratitoare</h2>
        <p>S.C. ICPIAF S.A. Cluj-Napoca impreuna cu V&amp;T GROUP Olanda va ofera o gama variata de filtre autocuratitoare. Grupul V&amp;T este spspecializat in filtre autocuratitoare, avand o experienta de peste 15 ani in domeniu. Specialisti in domeniu, analizeaza aplicatia dumneavoastra si va ofera in domeniul filtrarii apelor:<br />
          <span class="double-indent">
            - instalatii de filtrare "la cheie";<br />
            - asistenta tehnica la punerea in functiune;<br />
            - consultanta in problemele de filtrare;<br />
            - service si post garantie.
          </span>
        </p>
        <p>Filtrele autocuratitoare FILTOMAT reprezinta solutia ideala pentru o mare varietate de aplicatii. Gama de filtre autocuratitoare FILTOMAT cuprinde:<br />
          <span class="double-indent">
            <strong>Seria M 102C - M104C</strong> - filtre autocuratitoare automate, automatizare hidraulica, modele fara piston;<br />
            <strong>Seria M 104LP - M110P</strong> - filtre autocuratitoare automate, automatizare hidraulica, modele cu piston;<br />
            <strong>Seria MCF/M</strong> - filtre autocuratitoare cu spalare continua destinate filtrarii la debite mari si la incarcaturi mari in impuritati, automatizare electropneumatica sau electrohidraulica;<br />
            <strong>Seria MT33P</strong> - filtre autocuratitoare automate destinate filtrarii fine pana la 3 m, automatizare electropneumatica sau electrohidraulica;
          </span>
        </p>
        <h4>Avantajele filtrelor autocuratitoare FILTOMAT:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> nu necesita aport energetic exterior (in varianta de automatizare hidraulica);</li>
            <li><span>2</span> autocuratire automata a elementului filtrant;</li>
            <li><span>3</span> filtrare continua a intregului debit de lichid vehiculat prin filtru;</li>
            <li><span>4</span> cadere de presiune redusa;</li>
            <li><span>5</span> usor de instalat si intretinut;</li>
            <li><span>6</span> se pot monta direct pe conducta, nu necesita suport metalic sau de beton;</li>
            <li><span>7</span> curatire 100% a elementului filtrant;</li>
            <li><span>8</span> nu necesita componente asa zise;</li>
            <li><span>9</span> finete de filtare disponibila intre 15 si 400 m;</li>
            <li><span>10</span> elementi filtranti interschimbabili;</li>
            <li><span>11</span> constructii specifice diverselor aplicatii;</li>
            <li><span>12</span> perioada de amortizare redusa;</li>
            <li><span>13</span> posibilitatea comandarii prin controler programabil si integrarea in fluxuri tehnologice comandate prin computer.</li>
          </ul>
        </div>
        <p>Bazate pe un principiu fizic, pe cat de simplu pe atat de eficient, filtrele autocuratitoare constituie utilaje moderne, de ultima generatie, cu o functionare sigura si eficienta. Datorita caracteristicilor lor si a numeroaselor avantaje pe care le ofera, mii de filtre autocuratitoare FILTOMAT servesc beneficiarilor din lumea intreaga in diverse domenii de activitate.</p>
        <h4>Industrie:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> filtrarea apei din circuite alimentare;</li>
            <li><span>2</span> filtrarea apelor de racire; protejarea echipamentelor impotriva depunerilor si a colmatarilor: pompe, schimbatoare de caldura, instalatii de spalare, cazane, duze;</li>
            <li><span>3</span> filtrarea efluentilor in vederea protejarii mediului;</li>
            <li><span>4</span> recircularea apelor de spalare, de racire.</li>
          </ul>
        </div>
        <h4>Agricultura:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> protejarea instalatiilor de irigatii: duze, aspersoare;</li>
            <li><span>2</span> ferme piscicole.</li>
          </ul>
        </div>
        <h4>Municipalitate:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> prefilarea si filtrare apa in vederea potabilizarii;</li>
            <li><span>2</span> eliminarea nisipului, ruginii, etc. din circuitele de termoficare, protectie schimbatoare de caldura;</li>
            <li><span>3</span> protectia contra depunerilor a cazanelor, boilerelor, etc.;</li>
            <li><span>4</span> filtrare ape reziduale in cadrul statiilor de epurare.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
