---
title: Filtre autocuratitoare automate
slug: produse
id: prod8
lang: ro
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8">
        <h2 class="big-title">Filtre autocuratitoare automate MT33P</h2>
        <p>Filtre autocuratitoare automate MT33P asigura filtrare pana la 3 μm.</p>
        <p class="text-center">
          <img src="assets/img/products/filtre_autocuratitoare1.jpg" alt="" >
        </p>
        <p>&nbsp;</p>
        <h4>Caracteristici:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> destinate filtrarii finale a apelor potabile, apei din piscine, a apelor reziduale. Recomandat pentru prefiltrare înaintea instalatiilor de osmoza inversa;</li>
            <li><span>2</span> filtrare pana la 3 μm prin intermediul materalului filtrant textil;</li>
            <li><span>3</span> functionare automata in regim de autocuratire;</li>
            <li><span>4</span> constructie compacta;</li>
            <li><span>5</span> cheltuieli reduse de exploatare;</li>
            <li><span>6</span> nu necesita material filtrant ajutator;</li>
            <li><span>7</span> brevetate pe plan mondial;</li>
          </ul>
        </div>
        <h4>Functionarea filtrelor autocuratitoare model MT33P:</h4>
        <p>Apa introdusa in filtru prin racordul de alimentare (1) se filtreaza trecand prin casetele de filtrare (2) si prin tevile colectoare ale acestora (3) si este evacuata din filtru prin racordul de iesire (4). Pe parcursul filtrarii impuritatile se aduna pe materialul filtrant textil (5). Acest lucru creaza o diferenta de presiune intre presiunile apei in amonte si aval de materialul filtrant.</p>
        <p>La atingerea unei diferente de presiune presetate sau la intervale de timp presetate panoul de comanda (6) porneste mecanismul de autocuratire. Ventilele de intrare si de iesire (7,8) se inchid, ventilele de purjare si spalare inversa (9,10) se deschid. Pompa de spalare (11) furnizeaza apa de inalta presiune prin conducta de ghidare (12) catre duzele de spalare (13).</p>
        <p>Jeturile de apa sub presiune iesite din duze patrund prin materialul filtrant textil, se lovesc de suportul de material plastic (14) al casetelor de filtrare fiind ricosate inapoi spre materialul filtrant textil. Jeturile de apa ricosate antreneaza impuritatile acumulate pe casetele de filtrare si le elimina din filtru prin ventilul de purjare. Cilindrul hidraulic (15) realizeaza deplasarea duzelor de spalare.</p>
        <p>La capatul cursei, un mecanism special de indexare realizeaza rotirea casetelor de filtrare. Cand casetele au efectuat o rotatie completa, filtrul este curatat. Ventilele de purjare si spalare inversa se închid, pompa de spalare se opreste, ventilele de intrare si iesire din filtru se deschid si filtrul intra din nou in procesul de filtrare.</p>
        h4>Caracteristici tehnice principale:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> racord intrare / iesire: 3";</li>
            <li><span>2</span> capacitate de filtrare maxima: 40 m3/h;</li>
            <li><span>3</span> presiune de lucru: min. 0,2 bar / max. 10 bar;</li>
            <li><span>4</span> temperatura de lucru max.: 40ºC;</li>
            <li><span>5</span> finete de filtrare: pana la 3 microni;</li>
            <li><span>6</span> durata spalarii: aprox. 25-50 secunde;</li>
            <li><span>7</span> cantitate apa de spalare: 70 - 120 l/ spalare;</li>
            <li><span>8</span> debitul apei de spalare: 12 m3/h la 8 bar;</li>
            <li><span>9</span> comanda spalarii: diferenta de presiune p, electropneumatic sau electrohidraulic;</li>
            <li><span>10</span> lungimea totala: 2460 mm;</li>
            <li><span>11</span> inaltime totala: 440 mm.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
