---
title: Self cleaning filters with pistons M104LP-M110P
slug: products
id: prod9
lang: en
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8">
        <h2 class="big-title">Filtre autocuratitoare seria M104LP-M110P (modele cu piston)</h2>
        <p>Solutia ideala de filtrare  pentru o mare varietate de aplicatii industriale</p>
        <h4>Caracteristici:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> functionare automata în regim de autocuratire;</li>
            <li><span>2</span> nu necesita aport energetic exterior;</li>
            <li><span>3</span> filtrare continua si eficienta;</li>
            <li><span>4</span> usor de instalat si întretinut;</li>
            <li><span>5</span> capacitati mari de filtrare;</li>
            <li><span>6</span> constructie compacta si robusta;</li>
            <li><span>7</span> siguranta în functionare;</li>
            <li><span>8</span> perioada redusa de amortizare;</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/filtre_autocuratitoare3.jpg" alt="" >
        </p>
        <p>&nbsp;</p>
        <h4>Principalele aplicatii:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> filtrarea apei din circuitele de alimentare;</li>
            <li><span>2</span> filtrarea apelor de racire;</li>
            <li><span>3</span> protejarea echipamentelor impotriva depunerilor, colmatarilor (pompe, schimbatoare de caldura, instalatii de spalare, duze, etc.);</li>
            <li><span>4</span> recircularea apelor de spalare, de racire;</li>
            <li><span>5</span> filtrarea efluentilor in vederea protejarii mediului;</li>
            <li><span>6</span> prefiltrarea apei potabile;</li>
            <li><span>7</span> eliminarea nisipului, ruginii, etc. din circuitele de termoficare;</li>
            <li><span>8</span> protejarea instalatiilor de irigatii;</li>
          </ul>
        </div>
        <h4>Functionare:</h4>
        <p>Apa introdusa în filtru prin racordul de alimentare trece (de la exterior spre interior) printr-un filtru grosier cu rol de retinere a particulelor de dimensiuni mari si de protectie a celorlalte componente ale filtrului, dupa care trece prin elementul filtrant, fiind evacuata din filtru prin racordul de iesire.</p>
        <p>Pe masura ce impuritatile retinute se acumuleaza pe suprafata interioara a elementului filtrant, creste caderea de presiune pe filtru. La atingerea unui nivel presetat (între 0,2 - 0,8 bar), controlerul de spalare comanda un ciclu de autocuratire prin deschiderea ventilului de purjare. Deschiderea acestui ventil de purjare cauzeaza scaderea presiunii în camera rotorului hidraulic si formarea unui puternic curent de spalare inversa dinspre zona apei filtrate catre atmosfera.</p>
        <p>Acest curent de spalare inversa creaza un efect de absorbtie la duzele colectorului de impuritati, curatând astfel suprafata elementului filtrant în dreptul acestor duze. Apa de spalare împreuna cu impuritatile absorbite de pe elementul filtrant trec prin colectorul de impuritati si prin rotorul hidraulic cauzând rotirea ansamblului colector de impuritati - rotor hidraulic.</p>
        <p>Odata cu deschiderea ventilului de purjare, controlerul de spalare comanda hidraulic si deplasarea pistonului din cilindrul, piston aflat în legatura cu colectorul de impuritati. Astfel, miscarea combinata (de rotatie si translatia axiala) a colectorului conduce la curatirea întregii suprafete a elementului filtrant si la anularea caderii de presiune Dp cauzate de acumularea impuritatilor.</p>
        <p>Când spalarea inversa este completa (colectorul a ajuns la capatul cursei), o a doua spalare este comandata, colectorul fiind readus în pozitia lui initiala iar ventilul de purjare este reînchis. Deoarece spalarea inversa a elementului filtrant se face la un moment dat doar în dreptul duzelor colectorului de impuritati, pe restul suprafetei filtrarea continua, astfel încât procesul de filtrare nu este întrerupt în timpul autocuratirii.</p>
        <p>Prin constructia sa si prin sistemul de automatizare hidraulic filtrul autocuratitor FILTOMAT permite:<br />
          <span class="double-indent">
            - limitarea caderii de presiune pe filtru la valoarea dorita între 0,2 - 0,8 bar;<br />
            - comandarea manuala a autocuratirii filtrului;<br />
            - modificarea finetii de filtrare prin simpla inlocuire a elementului filtrant;<br />
            - realizarea de baterii de filtrare prin montarea in paralel a mai multe filtre si comandarea lor in sistemul "master-slave".
          </span>
        </p>
        <h4>Caracteristici tehnice principale:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> temperatura maxima de lucru 65ºC;</li>
            <li><span>2</span> durata aprox. a ciclului de autocuratire 10 - 15 sec.;</li>
            <li><span>3</span> presiune maxima de lucru 10 bar;</li>
            <li><span>4</span> presiune minima la autocuratire 2 bar;</li>
            <li><span>5</span> cadere de presiune la debit maxim 0,2 bar;</li>
            <li><span>6</span> debitul apelor de spalare 30-35 m3/h.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
