---
title: Pompe tip Grundfos
slug: dealer
id: dealer1
lang: ro
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8">
        <h2 class="big-title">Pompe tip Grundfos</h2>
        <p>S.C. ICPIAF S.A. Cluj-Napoca este distribuitor autorizat al firmei GRUNDFOS, unul dintre cei mai importanti fabricanti de pompe din lume, avand un numar de peste 10.000 de angajati si o productie anuala de peste 10 milioane de unitati de pompe.</p>
        <p>GRUNDFOS cauta permanent sa confere produselor sale siguranta, usurinta in utilizare si de asemenea o mai mare eficienta si un consum de energie scazut, astfel incat sa reprezinte un avantaj atat pentru utilizatori cat si pentru mediul inconjurator.</p>
        <p class="text-center">
          <img src="assets/img/products/grundfos1.jpg" alt="" class="display-inline m-x-10" />
          <img src="assets/img/products/grundfos2.jpg" alt="" class="display-inline m-x-10" />
        </p>
        <p>&nbsp;</p>
        <p>Noi va putem oferii <strong>pompe GRUNDFOS</strong> pentru orice aplicatie:</p>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> instalatii de incalzire si preparare a.c.m</li>
            <li><span>2</span> instalatii de racire si aer conditionat</li>
            <li><span>3</span> ridicarea presiunii si vehiculare lichide</li>
            <li><span>4</span> pomparea apei din subteram</li>
            <li><span>5</span> distributia apei in instalatii domestice</li>
            <li><span>6</span> vehiculare ape uzate si de canalizare</li>
            <li><span>7</span> aplicatii industriale diverse</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
