---
title: Domestic NOVATERM hot water preparation units
slug: products
id: prod7
lang: en
---

<!-- Start Content Section -->
<section id="content">
<div class="container">
  <div class="row">
    <!-- Single Project CContent Start -->
    <div class="col-md-8">
      <h2 class="big-title">Grupuri de preparare apa calda menajera NOVATERM</h2>
      <p>Sunt destinate prepararii instantanee a apei calde menajere (a.c.m), cu posibilitatea reglarii automate a temperaturii apei in gama 50-70ºC. Se ofera o gama larga de grupuri cu sarcini termice cuprinse intre 25 kW si 1275 kW sau orice alte sarcini termice solicitate de client. Presiunea de lucru pentru aceste grupuri este de 6 bar (la versiunea standard) sau de 16 bar (la cerere).</p>
      <h4>Variante constructive:</h4>
      <div class="services-list">
        <ul class="list">
          <li><span>1</span> Gama "MINI" 35 - cu sarcini termice cuprinse intre 25...93 kW</li>
          <li><span>2</span> Gama "MIDI" 90 - cu sarcini termice cuprinse intre 87...580 kW</li>
          <li><span>3</span> Gama "MAXI" 250 - cu sarcini termice cuprinse intre 570...1275 kW</li>
        </ul>
      </div>
      <p>Micropunctul termic este livrat in constructie modulata, COMPLET AURTOMATIZAT, testat de fabricant, lucru care ii confera o siguranta deosebita in exploatare.</p>
      <h4>Avantaje:</h4>
      <div class="services-list">
        <ul class="list">
          <li><span>1</span> Consum de energie scazut.</li>
          <li><span>2</span> Complet automatizat.</li>
          <li><span>3</span> Posibilitati de contorizare a consumului de agent primar (la cerere).</li>
          <li><span>4</span> Debitul de agent primar corelat cu necesitatile de apa calda menajera.</li>
          <li><span>5</span> Constructie simpla, usor de instalat si integrat in circuitele de apa calda menajera a blocurilor.</li>
        </ul>
      </div>
      <p class="text-center">
        <img src="assets/img/products/echipamente_termice1.jpg" alt="" class="display-inline m-x-10">
        <img src="assets/img/products/echipamente_termice2.jpg" alt="" class="display-inline m-x-10">
      </p>
      <p>&nbsp;</p>
      <p>Constructia este modulata, compacta, testata de producator si echipata cu un schimbator de caldura cu placi din otel inoxidabil cu inalte performante termodinamice.</p>
    </div>
    <div class="col-md-4">
      <div class="project-details">
        <h4>Cerere oferta:</h4>
        <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
          <div class="row">
            <div class="col-md-12">
              <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
              <div id="oferta_comp_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
              <div id="oferta_address_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
              <div id="oferta_email_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
            </div>
            <div class="col-md-12">
              <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
              <div id="oferta_cp_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
              <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
            </div>
            <div class="col-md-9">
              <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
            </div>
          </div>
        </form>
        <div id="oferta_form_success" class="p-t-10"></div>
        <div id="oferta_form_error" class="text-danger p-t-10"></div>
      </div>
      <div class="share">
        <h4>Share:</h4>
        <div class="social-link">
          <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
          <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
          <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
          <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
        <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
      </div>
    </div>
    <!-- Single Project CContent End -->
  </div>
</div>
</section>
<!-- End Content Section  -->
