---
title: Instalatii frigorifice tehnologice
slug: produse
id: prod12
lang: ro
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8">
        <h2 class="big-title">Instalatii frigorifice tehnologice</h2>
        <h4>Destinatie:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> - racirea diferitelor produse alimentare: lapte, saramura, sucuri, vinuri, uleiuri, creme de inghetata etc, sau nealimentare : ape industriale, in procese tehnologice din industria chimica, metalurgica, prelucrare a materialelor plastice etc.</li>
          </ul>
        </div>
        <h4>Instalatii frigorifice cu acumulare de gheata</h4>
        <p class="text-center">
          <img src="assets/img/products/poza_lipsa.jpg" alt="" />
        </p>
        <p>&nbsp;</p>
        <p>Se recomanda pentru acoperirea necesarului de frig fluctuant din cadrul fabricilor in care exista varfuri mari de sarcina, pentru o durata relativ scurta de timp.</p>
        <h4>Componenta:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> bazin izolat termic</li>
            <li><span>2</span> vaporizator acumulator de gheata</li>
            <li><span>3</span> suflanta pentru aer si conducte de distributie</li>
            <li><span>4</span> compresor frigorific ermetic</li>
            <li><span>5</span> condensator racit cu aer</li>
            <li><span>6</span> rezervor pentru agent frigorific</li>
            <li><span>7</span> elemente de automatizare</li>
          </ul>
        </div>
        <h4>Instalatii frigorifice cu racire instantanee</h4>
        <p>Se recomanda pentru raciri la temperaturi relativ coborate de +15 ... -5ºC. Sunt instalatii cu racire intermediara care folosesc ca agent intermediar apa racita sau solutie apoasa de propilenglicol. Instalatia este formata din doua subansamble compacte : grup de racire apa glicolata si modul hidraulic apa glicolata.</p>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
