---
title: Automatizari industriale Lenze
slug: dealer
id: dealer3
lang: ro
---

<!-- Start Content Section -->
<section id="content">
<div class="container">
  <div class="row">
    <!-- Single Project CContent Start -->
    <div class="col-md-8">
      <h2 class="big-title">Automatizari industriale Lenze</h2>
      <p>ICPIAF este distribuitor pentru Romania al prestigioasei firmei LENZE - Germania. Produsele firmei LENZE sunt folosite cu succes de multi ani in aplicatii industriale, calitatea produselor, distributia si service-ul acestora fiind certificate de DIN ISO 9001 : 2000 si DIN ISO 14001.</p>
      <p>In prezent echipamentele trebuie sa indeplineasca cerinte tot mai inalte de performanta si fiabilitate, iar sistemul "Global drive" de la LENZE, integreaza perfect sistemele de comanda ale echipamentelor, cu dispozitivele de actionare produse de LENZE.</p>
      <h3>Convertizoare de frecventa:</h3>
      <p class="text-center">
        <img src="assets/img/products/lenze1.jpg" alt="" />
      </p>
      <p>&nbsp;</p>
      <p>Prin convertizoarele din seria 8200 LENZE a creat un sistem orientat spre nevoile pietei. Gama de puteri este intre 0,25 ... 11 kW. Posibilitatilor de utilizare multiple asigura un domeniu de reglaj larg al tutatiei si al momentului de torsiunela timpi de reglaj foarte scurti, cca. 200 ms a momentului de torsiune in cazul socurilor de sarcina.</p>
      <h4>Avantajele convertizoarelor seria 8200:</h4>
      <div class="services-list">
        <ul class="list">
          <li><span>1</span> Low installation costs due to the integrated filter</li>
          <li><span>2</span> Versatile, due to the interchangeable modules</li>
          <li><span>3</span> Easy to integrate in complete control systems</li>
          <li><span>4</span> Easy and quick start-up due to the preset standard configuration</li>
          <li><span>5</span> Easy to integrate in networks, via I/O modules or BUS interface which offers multiple possibilities for automated systems.</li>
        </ul>
      </div>
      <h3>Geared motors:</h3>
      <p class="text-center">
        <img src="assets/img/products/lenze2.jpg" alt="" />
      </p>
      <p>&nbsp;</p>
      <p>LENZE manufactures a wide range of geared motors meeting all the requirements of a durable driving systems having constant output speed. During the time, the LENZE geared motors have been successfully tested in all industrial applications. </p>
      <h4>Types of LENZE geared motors:</h4>
      <div class="services-list">
        <ul class="list">
          <li><span>1</span> Helical gearbox type GST, power range: 0,06-45 kW</li>
          <li><span>2</span> Shaft mounted helical gearbox type GFL, power range: 0,12-45 kW</li>
          <li><span>3</span> Bevel gearbox type GKR, power range: 0,06-0,75 kW</li>
          <li><span>4</span> Helical bevel type GKS, power range: 0,12-45 kW</li>
          <li><span>5</span> Helical worm type GSS, power range: 0,12-15 kW</li>
        </ul>
      </div>
      <h3>Electromagnetic devices</h3>
      <p class="text-center">
        <img src="assets/img/products/lenze3.jpg" alt="" />
      </p>
      <p>&nbsp;</p>
      <p>The electromagnetic brake-clutch devices proved to be a real success in all industrial fields with cyclic production processes. These devices include two functions – the torque transmission one and the braking one into a single compact unit. The torque is transmitted by the electromagnetically generated friction. Beside the standard versions, these devices could be ordered together with three phase motors (input motion) or different types of gearboxes (output motion).</p>
      <h4>General specifications:</h4>
      <div class="services-list">
        <ul class="list">
          <li><span>1</span> very wide range, from 75 up to 120 Nm</li>
          <li><span>2</span> non- asbestos fiction disks</li>
          <li><span>3</span> patented wearing compensation system</li>
          <li><span>4</span> coupling and braking sequences are not overlapped</li>
          <li><span>5</span> coupling without clearance</li>
          <li><span>6</span> designed for continuous operation</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="project-details">
        <h4>Cerere oferta:</h4>
        <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
          <div class="row">
            <div class="col-md-12">
              <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
              <div id="oferta_comp_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
              <div id="oferta_address_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
              <div id="oferta_email_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
            </div>
            <div class="col-md-12">
              <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
              <div id="oferta_cp_msg" class="text-danger error-field"></div>
            </div>
            <div class="col-md-12">
              <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
              <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
            </div>
            <div class="col-md-9">
              <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
            </div>
          </div>
        </form>
        <div id="oferta_form_success" class="p-t-10"></div>
        <div id="oferta_form_error" class="text-danger p-t-10"></div>
      </div>
      <div class="share">
        <h4>Share:</h4>
        <div class="social-link">
          <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
          <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
          <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
          <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
        <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
        <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
      </div>
    </div>
    <!-- Single Project CContent End -->
  </div>
</div>
</section>
<!-- End Content Section  -->
