---
title: Stainless steel tanks and containers
slug: products
id: prod3
lang: en
---

<!-- Start Content Section -->
<section id="content" class="pattern-1">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8 generic-white-container">
        <h2 class="big-title">Rezervoare si recipiente din inox</h2>
        <p class="text-center">
          <img src="assets/img/products/poza_rezervor.jpg" alt="">
        </p>
        <p>&nbsp;</p>
        <p>Domenii: <strong>industria alimentara, chimica, farmaceutica, petroliera</strong></p>
        <h4>Destinatii:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> pentru stocare, preparare si pastrare lichide, pulberi si gaze alimentare si nealimentare</li>
            <li><span>2</span> pentru transport lichide (lapte, ulei, apa, bere, vin etc)</li>
          </ul>
        </div>
        <h4>Capacitati:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> pentru stocare: de la 500 litri la 450 000 litri, cu diametre de max. 8 m si inaltimi diferite</li>
            <li><span>2</span> pentru transport: de la 500 litri la 5000 litri</li>
          </ul>
        </div>
        <h4>Tipuri:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> inchise, deschise</li>
            <li><span>2</span> forma cilindrica si altele</li>
            <li><span>2</span> orizontale, verticale</li>
            <li><span>2</span> neizolate, izolate, cu manta dubla</li>
            <li><span>2</span> sub si fara presiune</li>
          </ul>
        </div>
        <p>Materiale de executie: <strong>otel inoxidabil alimentar specific, sau alte materiale, in functie de destinatie</strong></p>
        <h4>Executie:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> la furnizor (tancuri de capacitati mici)</li>
            <li><span>2</span> la client (tancuri de capacitati mari)</li>
            <li><span>2</span> dupa documentatie proprie sau dupa documentatia clientului</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/cisterna-lapte.jpg" alt="" >
        </p>
        <p>&nbsp;</p>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de contact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
