---
title: SAUTER automation equipment
slug: dealer
id: dealer2
lang: en
---

<!-- Start Content Section -->
<section id="content">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8">
        <h2 class="big-title">Automatizari industriale Sauter</h2>
        <p>ICPIAF in calitate de distribuitor autorizat al firmei SAUTER - Elvetia, unul din liderii europeni in materie de aparatura de automatizare in domeniul sistemelor de incalzire, umidificare, ventilare si conditionare de aer, va ofera serviciile sale pentru automatizarea proceselor din domeniul Dvs.</p>
        <p class="text-center">
          <img src="assets/img/products/sauter1.jpg" alt="" />
        </p>
        <p>&nbsp;</p>
        <h4>Aparatura electronica:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> Regulatoare proportionale (P) pentru presiune, temperatura si umiditate</li>
            <li><span>2</span> Regulatoare de camera cu programare timp-temperatura</li>
            <li><span>3</span> Regulatoare de camera pentru conditionarea aerului si ventilatie</li>
            <li><span>4</span> Regulatoare pentru incalzire si apa calda (cu compensarea temperaturii dupa cea exterioara) cu ceasuri programatoare</li>
            <li><span>5</span> Regulatoare modulare pentru ventilatie si conditionarea aerului cu caracteristica P si Pi</li>
            <li><span>6</span> Regulatoare bipozitionale si in cascada P+Pi pentru conditionarea aerului si ventilatie</li>
            <li><span>7</span> Indicatoare numerice</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/sauter2.jpg" alt="" class="display-inline m-x-10"/>
          <img src="assets/img/products/sauter3.jpg" alt="" class="display-inline m-x-10"/>
        </p>
        <p>&nbsp;</p>
        <h4>Valve si motoare de actionare:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> Motoare electrice de actionare pentru valve si sibere cu sau fara pozitioner</li>
            <li><span>2</span> Motoare electro-hidraulice de actionare pentru valve cu sau fara pozitioner</li>
            <li><span>3</span> Robinete termostatice pentru radiatoare</li>
            <li><span>4</span> Valve fluture Dn25 ... Dn200, Pn16</li>
            <li><span>5</span> Valve de mixare cu 3 si 4 cai Dn20 ... Dn150, Pn6</li>
            <li><span>6</span> Valve cu 2 si 3 cai Dn10 ... Dn25, Pn16</li>
            <li><span>7</span> Valve cu 2 si 3 cai Dn15 ... Dn100, Pn10</li>
            <li><span>8</span> Valve cu 2 si 3 cai Dn15 ... Dn50, Pn16</li>
            <li><span>9</span> Valve cu 2 si 3 cai Dn15 ... Dn150, Pn16,Pn25,Pn40</li>
            <li><span>10</span> Valve cu 2 si 3 cai Dn10 ... Dn50, Pn16, cu motor incorporat</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/sauter4.jpg" alt="" />
        </p>
        <p>&nbsp;</p>
        <h4>Aparatura pneumatica:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> Transmitere de temperatura, presiune reletiva si diferentiala</li>
            <li><span>2</span> Relee pneumatice</li>
            <li><span>3</span> Regulatoare pneumatice P, PI</li>
            <li><span>4</span> Statii de preparare a aerului</li>
            <li><span>5</span> Motoare pneumatice de actionare a valvelor si siberelor</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/sauter5.jpg" alt="" />
        </p>
        <p>&nbsp;</p>
        <h4>Traductoare directe si cu iesire unificata:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> De temperatura exterioara, de camera, de imersie, in conducte sau tip cablu (Ni100, 200, 500, 1000 si Pt100, 1000)</li>
            <li><span>2</span> De presiune relativa si diferentiala</li>
            <li><span>3</span> De umiditate relativa, absoluta si entalpie</li>
            <li><span>4</span> De punct de roua</li>
            <li><span>5</span> De CO2 si temperatura</li>
            <li><span>6</span> De temperatura si umiditate</li>
          </ul>
        </div>
        <p class="text-center">
          <img src="assets/img/products/sauter6.jpg" alt="" />
        </p>
        <p>&nbsp;</p>
        <h4>Regulatoare bipozitionale (on-off):</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> Termostate de camera 10 ... 30ºC</li>
            <li><span>2</span> Termostate de capilar -40 ... 320ºC</li>
            <li><span>3</span> Termostate de protectie de inghet -5 ... 15ºC</li>
            <li><span>4</span> Umidostate de camera si in conducte (15 ... 95% rh)</li>
            <li><span>5</span> Presostate de presiune relativa (-1 .. 80 bar) si diferentiale (cu sau fara rearmare manuala)</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de cotact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
