---
title: Servicii
slug: servicii
id: servicii
lang: ro
---

<!-- Start Content Section -->
<section id="content" class="pattern-1">
  <div class="container">
    <div class="row generic-white-container">
      <div class="col-md-6">
        <!-- Classic Heading -->
        <h2 class="big-title">SERVICII SI PRESTATII</h2>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> executie utilaje si constructii metalice dupa proiectele clientilor – dispunem de ateliere de productie si dotari performante (echipamente pentru sudare, masina de debitat tabla cu comanda numerica, masini de frezat si alezat orizontal, masina de gaurit si frezat in coordonate etc)</li>
            <li><span>2</span> conceptie si proiectare utilaje si echipamente tehnologice</li>
            <li><span>3</span> elaborare proiecte complete pentru fabrici de prelucrare lapte</li>
            <li><span>4</span> elaborare studii de piata, fezabilitate, retehnologizari, evaluari</li>
            <li><span>5</span> proiectare instalatii: termice, frigorifice, aer comprimat, electrice</li>
            <li><span>6</span> consultanta si asistenta tehnica</li>
            <li><span>7</span> montaj, punere in functiune utilaje si instruire personal</li>
            <li><span>8</span> service in garantie si post garantie</li>
            <li><span>9</span> executie circuite de inox pentru fabrici de prelucrare lapte, sucuri, bere, vinuri dupa proiectele clientului</li>
            <li><span>10</span> executie subansamble stantate si piese vulcanizate</li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <div class="group-btn">
          <a href="produse.html" class="btn btn-effect">Produsele comercializate</a>
          <a href="dealer.html" class="btn btn-wite">Dealer autorizat</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="featured-thumb">
          <img src="assets/img/products/fabrici_procesare_lapte1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

</section>
<!-- End Content Section  -->
