---
title: SWEP brazed heat exchangers
slug: dealer
id: dealer4
lang: en
---

<!-- Start Content Section -->
<section id="content" class="pattern-1">
  <div class="container">
    <div class="row">
      <!-- Single Project CContent Start -->
      <div class="col-md-8 generic-white-container">
        <h2 class="big-title">Schimbătoare de căldură brazate tip SWEP produse de Swep - Suedia</h2>
        <p>Schimbatoarele de caldura brazate sunt aparate ce realizeaza transferul termic intre doi agenti de lucru (lichide sau gaze), cu ajutorul unui numar de placi din inox profilate obtinute prin ambutisare si sudate intre ele printr-un procedeu special de brazare cu nichel sau cupru.</p>
        <p>La asamblarea pachetului de placi, tot a doua placa este intoarsa (in plan) cu 180 de grade pentru a crea doua zone de circulatie separate, prin care agentii circula in contracurent. Profilul special al placilor asigura o terbulenta, permitand un schimb termic performant.</p>
        <p class="text-center">
          <img src="assets/img/products/swep1.jpg" alt="" />
        </p>
        <p>&nbsp;</p>
        <h4>Caracteristicile schimbatoarelor de caldura brazate:</h4>
        <p>Etansarea pachetului de placi se face cu nichel (tipurile NP) sau cupru (tipurile WP), in functie de agentii folositi pentru transferul termic. Temperatura maxima de lucru pentru schimbatoarele de caldura brazate este de 195ºC, iar presiunea de 40 bar.</p>
        <h4>Avantajele folosirii schimbatoarelor brazate:</h4>
        <div class="services-list">
          <ul class="list">
            <li><span>1</span> Rezistenta la temperaturi si presiuni de lucu ridicate</li>
            <li><span>2</span> Rezistenta la coroziune mare</li>
            <li><span>3</span> Randament ridicat</li>
            <li><span>4</span> Tendinta redusa la ancrasare datorita turbulentei crescute</li>
            <li><span>5</span> Constructie compacta</li>
            <li><span>6</span> Spatiu de amplasare redus greutate mica</li>
            <li><span>7</span> Datorita turbulentei ridicate se autocurata</li>
            <li><span>8</span> Montaj rapid, usor de intretinut si exploatat</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Cerere oferta:</h4>
          <form action="" id="oferta-form" class="contact-form small-form" role="form" method="post">
            <div class="row">
              <div class="col-md-12">
                <input type="text" id="oferta_comp" class="form-control" name="oferta_name" placeholder="Nume companie *">
                <div id="oferta_comp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_address" class="form-control" name="oferta_address" placeholder="Adresa companie *">
                <div id="oferta_address_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="email" id="oferta_email" class="form-control" name="oferta_email" placeholder="Email *">
                <div id="oferta_email_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_phone" class="form-control" name="oferta_phone" placeholder="Telefon">
              </div>
              <div class="col-md-12">
                <input type="text" id="oferta_cp" class="form-control" name="oferta_contact-person" placeholder="Persoana de contact *">
                <div id="oferta_cp_msg" class="text-danger error-field"></div>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" id="oferta_message" name="oferta_message" placeholder="Alte detalii *" rows="9"></textarea>
                <div id="oferta_message_msg" class="text-danger error-field error-field-large"></div>
              </div>
              <div class="col-md-9">
                <button type="submit" id="oferta_submit" class="btn btn-effect"><i class="fa fa-check"></i> Cere oferta</button>
              </div>
            </div>
          </form>
          <div id="oferta_form_success" class="p-t-10"></div>
          <div id="oferta_form_error" class="text-danger p-t-10"></div>
        </div>
        <div class="share">
          <h4>Share:</h4>
          <div class="social-link">
            <a id="facebookSL" class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top" data-social-media="facebook"><i class="fa fa-facebook"></i></a>
            <a id="twitterSL" class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top" data-social-media="twitter"><i class="fa fa-twitter"></i></a>
            <a id="googlePlusSL" class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top" data-social-media="googlePlus"><i class="fa fa-google-plus"></i></a>
            <a id="linkedinSL" class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top" data-social-media="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
          <div id="productTitle" class="hidden">Fabrici procesare lapte</div>
          <div id="productDescription" class="hidden">Fabrici procesare lapte "la cheie" de la conceptie – la livrare produs finit</div>
        </div>
      </div>
      <!-- Single Project CContent End -->
    </div>
  </div>
</section>
<!-- End Content Section  -->
